
.container{
    background-color: grey;
    height: 2665px;
    margin: 0px;
    padding: 0px;   
    width: 100%;
   
}
.header{
    background-color: rgb(0, 0, 0, 0.5);
    /* border: 2px solid red; */
    height: 80px;
    width: 99%;
    color: white;
    display:grid ;
    padding: 2px;
    grid-gap: 10px 10px;
    z-index: 1;
    position: fixed;
    top: 1px;
    left: 1px;
    /* for 1*6 grid we use the following*/
    grid-template-rows: auto ;
    grid-template-columns: 200px 100px auto auto auto auto 150px 180px;

}


.logo{
    padding-left: 40px; 
    grid-area: 1/1/2/3;
    height: 75px;
    width:auto;
    /* border: 2px solid yellow; */
    margin-left: 5px;
    }

.language{
    background-color: rgba(0, 0, 0,0.3);
    float:right;
    grid-area: 1/7/2/8;
    border: 1px solid white;
    vertical-align: middle;
    padding-top: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
    height: auto;
    width: 100px;
    
}

.signin{
    
    font-size: 20px;
    height: 40px;
    width: 80px;
    vertical-align: baseline;
    padding-top: 10px;
    margin-top: 15px;
    text-align: center;
    grid-area: 1/8/2/9;
    background-color: red;
    /* border: 2px solid blueviolet; */
}


a{  /* for 'a' tag */
    text-decoration: none;     /* it is done to remove underline from the 'a' tag */
    color: white;

}

.container1{
    width: 100%;
    height: 100%;
    position: relative;
    left: 0px;
}

.content1{
    
    height: 2380px;  
    width: 100%;
    font-weight: bolder;
    /* border: 2px solid green; */
    color: white;
    background-color: rgba(0, 0, 0,0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 75px; 
    text-align: center;
    
}



.footer{
    background-color: rgb(0, 0, 0);
    color: grey;
    /* border: 2px solid red; */
    width: 100%;
    height:200px;
    position: absolute;
    top: 2450px;
    left: 0px;
    display:grid ;
    padding: 2px;
    grid-gap: 0px 10px;
    /* for 2*7 grid we use the following*/
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto auto auto auto auto;

}
.indexfaqs{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 1/2/2/3;
    /* border: 2px solid blueviolet; */
}


.indexcontact{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 1/4/2/5;
    /* border: 2px solid blueviolet; */
}
.privacy{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 1/6/2/7;
    /* border: 2px solid blueviolet; */
}
.career{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 2/2/3/3;
    /* border: 2px solid blueviolet; */
}
.legalnotes{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 2/4/3/5;
    /* border: 2px solid blueviolet; */
}
.indexterms{
    font-size: 20px;
    height: 40px;
    margin-top: 25px;
    vertical-align: baseline;
    padding-top: 10px;
    text-align: center;
    grid-area: 2/6/3/7;
    /* border: 2px solid blueviolet; */
}

