
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <link rel="stylesheet" href="{% static 'css/contactstyle.css' %} ">
    
</head>
<body>
    <div class="container" >
        
        <div class="header">
            <div class="logo">
                <a href="{% url 'common:common_index' %}">
                <img src="static/images/logo2.png" height="100%" width="70%" no-repeat >
                </a>
            </div>
            <div class="language">
                <form method="get">
                <select name="language" multiple size="1">
                    <!--size here used to show size of list displayed-->
                    <option selected>English</option>
                    <option>Hindi</option>
                    <option>French</option>
                    <option>German</option>
                    <option>Malayalam</option>
                </select>
                </form>
            </div>
            <div class="signin">
                <a href="{% url 'common:common_signin' %}">Sign In</a>
            </div>
        </div>
        

        <div class="container1">
            <div>
            <img src="static/images/bg1.jpg" alt="bg1" height="990px" width="100%">
            </div>
            <div class="content1">
                <h1>Contact Us :</h1><br />
                <img src="static/images/contact.png" alt="contact_image" height="800px" width="90%">
            
            </div>

            <div class="footer">
                <div class="indexfaqs"><a href="{% url 'common:common_faqs' %}">FAQs</a></div>
                <div class="indexcontact"><a href="{% url 'common:common_contact' %}">Contact Us</a></div>
                <div class="privacy">Privacy</div>
                <div class="career">Career</div>
                <div class="legalnotes">Legal notes</div>
                <div class="indexterms">Terms of Use</div>
                
            </div>
        </div>        
    </div>
</body>
</html>